node_modules
**/**/node_modules
tmp
.arc-env
src/shared/config/configuration/*local.json
src/shared/config/configuration/test.json
src/shared/naturalLanguage/google-app-credentials.json
**/**/*credentials.json
dump.rdb
